<div class="mt-4">
	<h4>{{burger_name}}</h4>

	<!--Devour me button-->
	<button class="change-devour btn btn-primary" data-id="{{id}}" data-newdevour="{{devour}}">
		<img src="/assets/image/burger1.jpg" width=25px height=25px" class="mr-2"> Devour me
	</button>
</div>